.about_us_digital_data_container {
  background: linear-gradient(to right, #efe7e7, #78695d8d),
    url("https://i.ibb.co.com/zWXwmJRh/aboutuscover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
